@font-face {
  font-family: 'ef_cuisinesregular';
  src: url('efcuisines-regular-webfont.eot');
  src: url('efcuisines-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('efcuisines-regular-webfont.woff') format('woff'),
  url('efcuisines-regular-webfont.ttf') format('truetype'),
  url('efcuisines-regular-webfont.svg#ef_cuisinesregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

.cuisine-font {
  font-family: 'ef_cuisinesregular';
  font-size: 60px;
  color: brown;
  font-weight: normal;
}

#header {
  position: relative;
  width: 100%;

  #top-pic-text{
    position: absolute;
    top: 20%;
    text-align: center;
    width: 100%;
    color: white;
  }
  img{
    width:100%;
  }
  button{
    border: 0;
    position: absolute;
    top: 5%;
    right:3%;
    background: transparent;
  }
}